@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 3px !important;
  color: #1C3E6E;
}

p {
  color: #8198B8;
}

.page-content {
  background-color: #F2F4F8;
}

.course-template {
  padding-bottom: 3%;
}

.course-template .course-title {
  padding-top: 5%;
  ;
  padding-bottom: 3%;
}

.col-item {
  background-color: white;
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

.course-template .syllabus {
  vertical-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.course-template .col-item h3 {
  margin-top: 30px;
  margin-left: 4%;
}

.course-template .col-item h4 {
  margin-top: 5%;
  margin-left: 4%;
}

.course-template .col-item p {
  margin-top: 20px;
  width: 90%;
  ;
  margin-left: 4%;
  margin-bottom: 3%;
  color: #5C779C;
}

.course-template .course-description,
.course-requisite {
  margin-left: 0;
}

.requisites-display {
  height: 120px;
  margin-top: 2%;
  background-color: #EFF3FB;
  margin-left: 3%;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 4%;
}

.course-recommendations {
  margin-left: 0;
  padding-bottom: 50px;
}

.recommendations-display {
  height: 200px;
  background-color: #EFF3FB;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-slide {
  visibility: hidden;
}

.slick-slide.slick-active {
  visibility: visible;
}

/* actual styles */
.slick-arrow:before,
.slick-prev:before,
.slick-next:before {
  color: #1C3E6E !important;
  opacity: 100%;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0 !important;
}

.expand_button {
  margin-top: -5%;
}

.syllabus-link {
  margin-top: 2%;
  border-radius: 15px;
  background-color: #1C3E6E;
  color: white;
  width: 8em;
  height: 3em;
  border: none;
  font-size: 1.2em;
  text-align: center;
}

.req-graph {
  border: none;
  width: 60%;
  margin-left: 5%;
  justify-content: center;
  margin-bottom: 2%;
}

.ratings-lbl {
  display: inline-block;
  width: 25%;
  margin-right: .5em;
  padding-top: 1.5em;
}

#formElement {
  display: none;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  margin-top: 7%;
  border-radius: 15px;
  background-color: #2e583b;
  color: white;
  width: 12em;
  height: 3em;
  border: none;
  font-size: 1.2em;
  text-align: center;
  opacity: 1;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  background-color: gray;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 700px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=email],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  margin-top: 0%;
  background-color: #2e583b;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(57, 57, 57);
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  color: white;
  opacity: 1;
}

.dropdown {
  margin-top: 5%;
  margin-bottom: 5%;
}